*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    font-family: 'Assistant', sans-serif;
}
.read{
    width: 200px;
    height: 60px;
    background: #745CF9;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.5s;
    a{
        color: white;
        font-weight: 900;
        letter-spacing: 2px;
    }
}
.read:hover{
    background: #614ae2;
}
.down{
    width: 200px;
    height: 60px;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #fff;
    transition: 0.5s;
    cursor: pointer;
    a{
        color: white;
        font-weight: 900;
        letter-spacing: 2px;
    }
}
.down:hover{
    background: #fff;
    a:hover{
        color: #353333;
    }
}
.header{
    width: 100%;
    height: 100vh;
    background: url(images/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.naving{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background: #fff;
    padding:  0 7rem;
    height: 75px;
    z-index: 999;
    border-bottom: 1px solid #c9bfbf;

    .a{
        font-size: 2vw;
        font-weight: 300;
        color: #000;
    }
    .naving-anchor a{
        text-decoration: none;
        color: #000;
        text-transform:uppercase;
        font-weight: 400;
        transition: 0.5s;
    }
    .naving-anchor a:hover{
        color: blue;
    }
}
.naving-center{
    padding: 14rem 0 0 0;
    line-height: 60px;
    h1{
        font-size: 3.8rem;
        letter-spacing: 2px;
    }
}
.hero-section{
    width: 100%;
    height: 160vh;

    .seo h2{
        font-weight: 600;
    }
}
.parallex{
    width: 100%;
    height: 60vh;
    background: url(images/photo-1452723312111-3a7d0db0e024.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .parall-h1{
        font-size: 4rem;
        color: #fff;
    }
    p{
        color: #fff;
    }
}
.latest_project{
    width: 100%;
    height: 153vh;
    background: #000;
}
.costumer{
    width: 100%;
    height: 80vh;
    background: url(images/photo-1451417379553-15d8e8f49cde.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .img-circle{
        width: 85px;
        height: 85px;
        overflow: hidden;
    }
}

.main-client{
    position: relative;
    .clients img{
        transition: 0.5s;
        opacity: 0.6;
        cursor: pointer;
    }
    .clients img:hover{
        opacity: 1;
    }
}
.word{
    width: 100%;
    height: 80vh;
    background: #F5F5F5;
}
.word-2{
    background: #0E1015;
    height: 40vh;

    .icons i{
        color: #ffffffd5;
        font-size: 20px;
        transition: 0.5s;
        cursor: pointer;
    }
    .icons i:hover{
        color: #745CF9;
    }
}